body {  background: #ffffff;
margin: 0;} 
.nav{
overflow: hidden;
	  font-size: 100%;
	  background-color: #333;
}
.nav a { 
display: block;
float: left;
color: white;
       text-align: center;
padding: 1% 1.5%;
	 text-decoration: none;
}
.nav a:hover {
	border-radius: 10%;
	background-color: #ddd;
color: black;
}
.a1 {
position: relative;
padding: 0.5% 0.8%;
animation: m1 3s 1;
	   animation-delay: 0s; 
}
@keyframes m1 {
	from    {right:-100%;
opacity: 0.0;}
	to      {right:0%;opacity: 1.0;}
}
.column {
float: left;
padding: 0.5%;
}
.column.left{ width:30%;}
.column.rigth{ width:50%;}
.column.right p{font-size : 200%;
	font-family: 'Vollkorn SC', serif;
color : black;}
.column.right a{ font-size : 300%;
	font-family: 'Vollkorn SC', serif;
	/*      font-family: 'Josefin Sans', sans-serif;*/
color: blue;}
.row:after {
content: "";
display: table;
clear: both;
}

</style>
